name: Cypress Tests

on:
  push:
  workflow_dispatch:

schedule:
  - cron: "0 10 * * *"

jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        browsers: [chrome, firefox, edge]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      # Install npm dependencies, cache them correctly
      # and run all Cypress tests
      - name: QA coding challenge in ${{ matrix.browsers }}
        uses: cypress-io/github-action@v6
        with:
          browsers: ${{ matrix.browsers }}
